# Importando Base de Dados

In [1]:
import pandas as pd

In [2]:
pd.read_csv('tips.csv')

     total_bill   tip dessert   day    time  size
0         16.99  1.01      No   Sun  Dinner     2
1         10.34  1.66      No   Sun  Dinner     3
2         21.01  3.50      No   Sun  Dinner     3
3         23.68  3.31      No   Sun  Dinner     2
4         24.59  3.61      No   Sun  Dinner     4
..          ...   ...     ...   ...     ...   ...
239       29.03  5.92      No   Sat  Dinner     3
240       27.18  2.00     Yes   Sat  Dinner     2
241       22.67  2.00     Yes   Sat  Dinner     2
242       17.82  1.75      No   Sat  Dinner     2
243       18.78  3.00      No  Thur  Dinner     2

[244 rows x 6 columns]

In [3]:
dados = pd.read_csv('tips.csv')

In [4]:
dados

     total_bill   tip dessert   day    time  size
0         16.99  1.01      No   Sun  Dinner     2
1         10.34  1.66      No   Sun  Dinner     3
2         21.01  3.50      No   Sun  Dinner     3
3         23.68  3.31      No   Sun  Dinner     2
4         24.59  3.61      No   Sun  Dinner     4
..          ...   ...     ...   ...     ...   ...
239       29.03  5.92      No   Sat  Dinner     3
240       27.18  2.00     Yes   Sat  Dinner     2
241       22.67  2.00     Yes   Sat  Dinner     2
242       17.82  1.75      No   Sat  Dinner     2
243       18.78  3.00      No  Thur  Dinner     2

[244 rows x 6 columns]

In [5]:
dados.head()

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4

# Tradução

In [7]:
dados.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [8]:
renomear = {
    'total_bill': 'valor_da_conta', 
    'tip': 'gorjeta', 
    'dessert': 'sobremesa', 
    'day': 'dia_da_semana', 
    'time': 'hora_do_dia', 
    'size': 'total_de_pessoas'
}

In [9]:
gorjetas = dados.rename(columns = renomear)

In [10]:
gorjetas

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2
1,10.34,1.66,No,Sun,Dinner,3
2,21.01,3.50,No,Sun,Dinner,3
3,23.68,3.31,No,Sun,Dinner,2
4,24.59,3.61,No,Sun,Dinner,4
...,...,...,...,...,...,...
239,29.03,5.92,No,Sat,Dinner,3
240,27.18,2.00,Yes,Sat,Dinner,2
241,22.67,2.00,Yes,Sat,Dinner,2
242,17.82,1.75,No,Sat,Dinner,2
243,18.78,3.00,No,Thur,Dinner,2

In [11]:
gorjetas.sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [12]:
sim_nao = {
    'No': 'Não',
    'Yes': 'Sim'
}

In [15]:
gorjetas.sobremesa = gorjetas.sobremesa.map(sim_nao)

In [16]:
gorjetas

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Sun,Dinner,2
1,10.34,1.66,Não,Sun,Dinner,3
2,21.01,3.50,Não,Sun,Dinner,3
3,23.68,3.31,Não,Sun,Dinner,2
4,24.59,3.61,Não,Sun,Dinner,4
...,...,...,...,...,...,...
239,29.03,5.92,Não,Sat,Dinner,3
240,27.18,2.00,Sim,Sat,Dinner,2
241,22.67,2.00,Sim,Sat,Dinner,2
242,17.82,1.75,Não,Sat,Dinner,2
243,18.78,3.00,Não,Thur,Dinner,2

In [17]:
gorjetas.dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [18]:
dias = {
    'Sun': 'Domingo', 
    'Sat': 'Sábado', 
    'Thur': 'Quinta', 
    'Fri': 'Sexta'
}

In [19]:
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(dias)

In [20]:
gorjetas

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Domingo,Dinner,2
1,10.34,1.66,Não,Domingo,Dinner,3
2,21.01,3.50,Não,Domingo,Dinner,3
3,23.68,3.31,Não,Domingo,Dinner,2
4,24.59,3.61,Não,Domingo,Dinner,4
...,...,...,...,...,...,...
239,29.03,5.92,Não,Sábado,Dinner,3
240,27.18,2.00,Sim,Sábado,Dinner,2
241,22.67,2.00,Sim,Sábado,Dinner,2
242,17.82,1.75,Não,Sábado,Dinner,2
243,18.78,3.00,Não,Quinta,Dinner,2

In [21]:
gorjetas.hora_do_dia.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [22]:
hora = {
    'Dinner': 'Jantar',
    'Lunch': 'Almoço'
}

In [24]:
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(hora)

In [25]:
gorjetas.sample(5)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
87,18.28,4.00,Não,Quinta,Almoço,2
101,15.38,3.00,Sim,Sexta,Jantar,2
226,10.09,2.00,Sim,Sexta,Almoço,2
238,35.83,4.67,Não,Sábado,Jantar,3
164,17.51,3.00,Sim,Domingo,Jantar,2